demo/target/classes/*
demo/target/maven-archiver/*
demo/target/test-classes/*
data/demo.mv.db
.vscode/*
.idea/*
*.class
*.jar
*.lst
demo/target/surefire-reports/TEST-com.example.demo.DemoApplicationTests.xml
demo/target/surefire-reports/com.example.demo.DemoApplicationTests.txt
demo/target/maven-archiver/pom.properties
